body{
  width: 800px;
  height: 1020px;
  /* border: 1px solid black; */
  margin: 0 auto;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
main{
  padding: 14px 28px 24px 28px;
  /* border: 1px solid black; */
  height: 800px;
  box-sizing: border-box;
}

.header-overlay{
  background-color: rgba(255, 77, 0, 255);
  color: white;
  width: 72.5%;
  position: absolute;
  height: 92px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
  
}
.header-overlay > .logo{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 50px;
}
.header-overlay > h1{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 150px;
}
.navbar{
  background-color: rgba(216, 73, 26, 255);
  height: 46px;
  position: relative;
  z-index: -1;
}
.navbar > div{
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.navbar > div > a{
  text-decoration: none;
}
.navbar > div > a > i{
  margin-right: 10px;
  color: rgba(0, 35, 93, 255);
}
.decoration-bar{
  height: 74px;
}
.orange-decoration{
  background-color: rgba(216, 73, 26, 255);
  height: inherit;
  width: 56.5%;
  display: inline-block;
}
.line-decoration{
  float: right;
}
.top-text{
  /* height: 96px;
  border-bottom: 2px solid rgba(216, 73, 26, 255);
  box-sizing: border-box;
  padding-bottom: 8px;
  text-transform: uppercase; */

  height: 88px;
  border-bottom: 2px solid rgba(216, 73, 26, 255);
  box-sizing: border-box;
  padding-bottom: 8px;
  text-transform: uppercase;
}
.top-text > span{
  font-size: 26px;
  margin: 0;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 26px;
}
.top-text > .extra-letter-spacing{
  letter-spacing: 1.25px;
}
.orange-text{
  color: rgba(255, 77, 0, 255);
}
.columns{
  height: 674px;
  padding-top: 10px;
  box-sizing: border-box;
}
.left-column{
  width: 386px;
  height: 100%;
  border-right: 1px solid rgba(216, 73, 26, 255);
  float: left;
  box-sizing: border-box;
}
.left-column > div{
  padding: 10px 0;
  border-bottom: 2px solid rgba(216, 73, 26, 255);
  margin-right: 25px;
}
.left-column > div > span{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 24px;
}
.left-column > ul{
  color: rgba(255, 77, 0, 255);
  padding-left: 18px;
  font-size: 14px;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
}
.left-column > ul > li{
  margin-bottom: 10px;
}
.listen-now{
  background-color: rgba(255, 77, 0, 255);
  text-decoration: none;
  color: white;
  padding: 10px 35px 10px 15px;
  font-weight: 700;
  position: relative;
}
.mic{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}
.right-column{
  width: 358px;
  height: 100%;
  padding-left: 23px;
  border-left: 1px solid rgba(216, 73, 26, 255);
  float: right;
  box-sizing: border-box;
  color: rgba(65,64,66,255);
}
.right-column > div{
  margin-top: 12px;
  margin-bottom: 24px;
}
.right-column > div > span{
  font-size: 18px;
  font-weight: 700;
}
.learn-more{
  margin-top: 22px;
}
.contact{
  margin: 0;
  display: block;
}